.sharePannel{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    width: 150px;
    text-align: center;
    padding: 20px;
    transition: all 0.3s ease-in-out;
    background-color:rgba(214, 214, 214, 0.379);
}

.sharePannel div{
    background-color: #ffffffa8;
    height: 20px;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;  
}
.sharePannel a, .sharePannel button{
    all: unset;
}